.compare-card {
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.base-card {
  border: outset goldenrod;
}

.MuiCard-root.empty-card {
  border: 4px dashed #1976d2;
  background: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1976d2;
}

.MuiCardActionArea-root.empty-card__button {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.compare-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.compare-card__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.compare-card__compare-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.line-grow {
  flex-grow: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: 0;
  margin: 0 1rem;
  border-radius: 1px;
}

.compare-card__additonal-costs {
  flex-grow: 1;
  min-height: 0;
  height: 100%;
}

.MuiCheckbox-root.additonal-costs__checkbox {
  padding-left: 0;
}

.MuiDivider-root.compare-card__divider {
  margin: 1rem 0;
}